          <div class="menu">
            <ul>
            <li class="<%= @home_nav_active %>"><a href="/home"><span><span>Home</span></span></a></li>
            <li class="<%= @about_nav_active %>"><a href="/about"><span><span>About us</span></span></a></li>
            <li class="<%= @employers_nav_active %>"><a href="/employers"><span><span>Employers</span></span></a></li>
            <li class="<%= @candidates_nav_active %>"><a href="/candidates"><span><span>Candidates</span></span></a></li>
            <li class="<%= @jobs_nav_active %>"><a href="/jobs"><span><span>Online jobs</span></span></a></li>
            <li class="<%= @contact_nav_active %>"><a href="/contact"><span><span>Contact us</span></span></a></li>
            </ul>
          </div>

