<div class="site-content">
  <div class="indent">
    <div class="box">
      <div class="tail-right">
      <div class="tail-left">
      <div class="tail-top">
      <div class="corner-bottom-right">
      <div class="corner-bottom-left">
      <div class="corner-top-right">
      <div class="corner-top-left">
        <div><h3><span><%= link_to "[ back ]", {:action => "index"}, {:class => "back_link"} %></span><span><%= link_to "[ submit resume ]", {:controller => "contact", :action => "index"}, {:class => "back_link"} %></span></h3></div>
        <div class="indent1">
          <h2><%= @job_post.title %></em></h2>
          <div>Location: <strong class="color2"><%= @job_post.location %></strong></div>
          <div class="indent1">
            <div style="color: black;">
            <%= @job_post.description.html_safe %>
            </div>
          </div>
        </div>
        <div><h3><span><%= link_to "[ back ]", {:action => "index"}, {:class => "back_link"} %></span><span><%= link_to "[ submit resume ]", {:controller => "contact", :action => "index"}, {:class => "back_link"} %></span></h3></div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
