<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/maxheight.js" type="text/javascript"></script>

</head>

<body id="page1" onload="new ElementMaxHeight();">
  <div id="main">
    <%= render :partial => "includes/header" %>

    <div id="content">
      <div class="container">
        <% if @show_industries_sidebar %>
          <%= render :partial => "includes/sidebar_industries" %>
        <% else %>
          <%= render :partial => "includes/sidebar_jobs" %>
        <% end %>
        <div class="site-content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => "includes/footer" %>
  </div>
</body>

</html>
